body{
    margin: 0;
    padding: 0;
}
.brand-title{
    margin-bottom: 3rem !important;
}
.featurette-heading{
    color: #ff6584;
}
@media (min-width: 992px) {
    .brand-title {
        margin-top: 5rem !important;
    }
}